// Xbox DDS assets from MaxPayne3.FusionFix/buttons_pc.wtd.
4100 RCDATA "../../textures/Scarface/Controller/lstick_all.dds"
4101 RCDATA "../../textures/Scarface/Controller/rstick_all.dds"
4102 RCDATA "../../textures/Scarface/Controller/dpad_up.dds"
4103 RCDATA "../../textures/Scarface/Controller/dpad_down.dds"
4104 RCDATA "../../textures/Scarface/Controller/dpad_left.dds"
4105 RCDATA "../../textures/Scarface/Controller/dpad_right.dds"
4106 RCDATA "../../textures/Scarface/Controller/lt_butt.dds"
4107 RCDATA "../../textures/Scarface/Controller/rt_butt.dds"
4108 RCDATA "../../textures/Scarface/Controller/a_butt.dds"
4109 RCDATA "../../textures/Scarface/Controller/b_butt.dds"
4110 RCDATA "../../textures/Scarface/Controller/x_butt.dds"
4111 RCDATA "../../textures/Scarface/Controller/y_butt.dds"
4112 RCDATA "../../textures/Scarface/Controller/lb_butt.dds"
4113 RCDATA "../../textures/Scarface/Controller/rb_butt.dds"
4114 RCDATA "../../textures/Scarface/Controller/back_butt.dds"
4115 RCDATA "../../textures/Scarface/Controller/start_butt.dds"
4116 RCDATA "../../textures/Scarface/Controller/lstick_none.dds"
4117 RCDATA "../../textures/Scarface/Controller/rstick_none.dds"
