// Button DDS assets from MaxPayne3.FusionFix/buttons_pc.wtd.

// Xbox 360 (GamepadIcons = 0)
4100 RCDATA "../../textures/Scarface/Controller/lstick_all.dds"
4101 RCDATA "../../textures/Scarface/Controller/rstick_all.dds"
4102 RCDATA "../../textures/Scarface/Controller/dpad_up.dds"
4103 RCDATA "../../textures/Scarface/Controller/dpad_down.dds"
4104 RCDATA "../../textures/Scarface/Controller/dpad_left.dds"
4105 RCDATA "../../textures/Scarface/Controller/dpad_right.dds"
4106 RCDATA "../../textures/Scarface/Controller/lt_butt.dds"
4107 RCDATA "../../textures/Scarface/Controller/rt_butt.dds"
4108 RCDATA "../../textures/Scarface/Controller/a_butt.dds"
4109 RCDATA "../../textures/Scarface/Controller/b_butt.dds"
4110 RCDATA "../../textures/Scarface/Controller/x_butt.dds"
4111 RCDATA "../../textures/Scarface/Controller/y_butt.dds"
4112 RCDATA "../../textures/Scarface/Controller/lb_butt.dds"
4113 RCDATA "../../textures/Scarface/Controller/rb_butt.dds"
4114 RCDATA "../../textures/Scarface/Controller/back_butt.dds"
4115 RCDATA "../../textures/Scarface/Controller/start_butt.dds"
4116 RCDATA "../../textures/Scarface/Controller/lstick_none.dds"
4117 RCDATA "../../textures/Scarface/Controller/rstick_none.dds"

// Xbox One (GamepadIcons = 1)
4200 RCDATA "../../textures/Scarface/Controller/xbone_lstick_all.dds"
4201 RCDATA "../../textures/Scarface/Controller/xbone_rstick_all.dds"
4202 RCDATA "../../textures/Scarface/Controller/xbone_dpad_up.dds"
4203 RCDATA "../../textures/Scarface/Controller/xbone_dpad_down.dds"
4204 RCDATA "../../textures/Scarface/Controller/xbone_dpad_left.dds"
4205 RCDATA "../../textures/Scarface/Controller/xbone_dpad_right.dds"
4206 RCDATA "../../textures/Scarface/Controller/xbone_lt_butt.dds"
4207 RCDATA "../../textures/Scarface/Controller/xbone_rt_butt.dds"
4208 RCDATA "../../textures/Scarface/Controller/xbone_a_butt.dds"
4209 RCDATA "../../textures/Scarface/Controller/xbone_b_butt.dds"
4210 RCDATA "../../textures/Scarface/Controller/xbone_x_butt.dds"
4211 RCDATA "../../textures/Scarface/Controller/xbone_y_butt.dds"
4212 RCDATA "../../textures/Scarface/Controller/xbone_lb_butt.dds"
4213 RCDATA "../../textures/Scarface/Controller/xbone_rb_butt.dds"
4214 RCDATA "../../textures/Scarface/Controller/xbone_back_butt.dds"
4215 RCDATA "../../textures/Scarface/Controller/xbone_start_butt.dds"
4216 RCDATA "../../textures/Scarface/Controller/xbone_lstick_none.dds"
4217 RCDATA "../../textures/Scarface/Controller/xbone_rstick_none.dds"

// PlayStation 3 (GamepadIcons = 2)
4300 RCDATA "../../textures/Scarface/Controller/ps3_lstick_all.dds"
4301 RCDATA "../../textures/Scarface/Controller/ps3_rstick_all.dds"
4302 RCDATA "../../textures/Scarface/Controller/ps3_dpad_up.dds"
4303 RCDATA "../../textures/Scarface/Controller/ps3_dpad_down.dds"
4304 RCDATA "../../textures/Scarface/Controller/ps3_dpad_left.dds"
4305 RCDATA "../../textures/Scarface/Controller/ps3_dpad_right.dds"
4306 RCDATA "../../textures/Scarface/Controller/ps3_lt_butt.dds"
4307 RCDATA "../../textures/Scarface/Controller/ps3_rt_butt.dds"
4308 RCDATA "../../textures/Scarface/Controller/ps3_a_butt.dds"
4309 RCDATA "../../textures/Scarface/Controller/ps3_b_butt.dds"
4310 RCDATA "../../textures/Scarface/Controller/ps3_x_butt.dds"
4311 RCDATA "../../textures/Scarface/Controller/ps3_y_butt.dds"
4312 RCDATA "../../textures/Scarface/Controller/ps3_lb_butt.dds"
4313 RCDATA "../../textures/Scarface/Controller/ps3_rb_butt.dds"
4314 RCDATA "../../textures/Scarface/Controller/ps3_back_butt.dds"
4315 RCDATA "../../textures/Scarface/Controller/ps3_start_butt.dds"
4316 RCDATA "../../textures/Scarface/Controller/ps3_lstick_none.dds"
4317 RCDATA "../../textures/Scarface/Controller/ps3_rstick_none.dds"

// PlayStation 4 (GamepadIcons = 3)
4400 RCDATA "../../textures/Scarface/Controller/ps4_lstick_all.dds"
4401 RCDATA "../../textures/Scarface/Controller/ps4_rstick_all.dds"
4402 RCDATA "../../textures/Scarface/Controller/ps4_dpad_up.dds"
4403 RCDATA "../../textures/Scarface/Controller/ps4_dpad_down.dds"
4404 RCDATA "../../textures/Scarface/Controller/ps4_dpad_left.dds"
4405 RCDATA "../../textures/Scarface/Controller/ps4_dpad_right.dds"
4406 RCDATA "../../textures/Scarface/Controller/ps4_lt_butt.dds"
4407 RCDATA "../../textures/Scarface/Controller/ps4_rt_butt.dds"
4408 RCDATA "../../textures/Scarface/Controller/ps4_a_butt.dds"
4409 RCDATA "../../textures/Scarface/Controller/ps4_b_butt.dds"
4410 RCDATA "../../textures/Scarface/Controller/ps4_x_butt.dds"
4411 RCDATA "../../textures/Scarface/Controller/ps4_y_butt.dds"
4412 RCDATA "../../textures/Scarface/Controller/ps4_lb_butt.dds"
4413 RCDATA "../../textures/Scarface/Controller/ps4_rb_butt.dds"
4414 RCDATA "../../textures/Scarface/Controller/ps4_back_butt.dds"
4415 RCDATA "../../textures/Scarface/Controller/ps4_start_butt.dds"
4416 RCDATA "../../textures/Scarface/Controller/ps4_lstick_none.dds"
4417 RCDATA "../../textures/Scarface/Controller/ps4_rstick_none.dds"

// PlayStation 5 (GamepadIcons = 4)
4500 RCDATA "../../textures/Scarface/Controller/ps5_lstick_all.dds"
4501 RCDATA "../../textures/Scarface/Controller/ps5_rstick_all.dds"
4502 RCDATA "../../textures/Scarface/Controller/ps5_dpad_up.dds"
4503 RCDATA "../../textures/Scarface/Controller/ps5_dpad_down.dds"
4504 RCDATA "../../textures/Scarface/Controller/ps5_dpad_left.dds"
4505 RCDATA "../../textures/Scarface/Controller/ps5_dpad_right.dds"
4506 RCDATA "../../textures/Scarface/Controller/ps5_lt_butt.dds"
4507 RCDATA "../../textures/Scarface/Controller/ps5_rt_butt.dds"
4508 RCDATA "../../textures/Scarface/Controller/ps5_a_butt.dds"
4509 RCDATA "../../textures/Scarface/Controller/ps5_b_butt.dds"
4510 RCDATA "../../textures/Scarface/Controller/ps5_x_butt.dds"
4511 RCDATA "../../textures/Scarface/Controller/ps5_y_butt.dds"
4512 RCDATA "../../textures/Scarface/Controller/ps5_lb_butt.dds"
4513 RCDATA "../../textures/Scarface/Controller/ps5_rb_butt.dds"
4514 RCDATA "../../textures/Scarface/Controller/ps5_back_butt.dds"
4515 RCDATA "../../textures/Scarface/Controller/ps5_start_butt.dds"
4516 RCDATA "../../textures/Scarface/Controller/ps5_lstick_none.dds"
4517 RCDATA "../../textures/Scarface/Controller/ps5_rstick_none.dds"

// Nintendo Switch (GamepadIcons = 5)
4600 RCDATA "../../textures/Scarface/Controller/switch_lstick_all.dds"
4601 RCDATA "../../textures/Scarface/Controller/switch_rstick_all.dds"
4602 RCDATA "../../textures/Scarface/Controller/switch_dpad_up.dds"
4603 RCDATA "../../textures/Scarface/Controller/switch_dpad_down.dds"
4604 RCDATA "../../textures/Scarface/Controller/switch_dpad_left.dds"
4605 RCDATA "../../textures/Scarface/Controller/switch_dpad_right.dds"
4606 RCDATA "../../textures/Scarface/Controller/switch_lt_butt.dds"
4607 RCDATA "../../textures/Scarface/Controller/switch_rt_butt.dds"
4608 RCDATA "../../textures/Scarface/Controller/switch_a_butt.dds"
4609 RCDATA "../../textures/Scarface/Controller/switch_b_butt.dds"
4610 RCDATA "../../textures/Scarface/Controller/switch_x_butt.dds"
4611 RCDATA "../../textures/Scarface/Controller/switch_y_butt.dds"
4612 RCDATA "../../textures/Scarface/Controller/switch_lb_butt.dds"
4613 RCDATA "../../textures/Scarface/Controller/switch_rb_butt.dds"
4614 RCDATA "../../textures/Scarface/Controller/switch_back_butt.dds"
4615 RCDATA "../../textures/Scarface/Controller/switch_start_butt.dds"
4616 RCDATA "../../textures/Scarface/Controller/switch_lstick_none.dds"
4617 RCDATA "../../textures/Scarface/Controller/switch_rstick_none.dds"

// Steam Deck (GamepadIcons = 6)
4700 RCDATA "../../textures/Scarface/Controller/sd_lstick_all.dds"
4701 RCDATA "../../textures/Scarface/Controller/sd_rstick_all.dds"
4702 RCDATA "../../textures/Scarface/Controller/sd_dpad_up.dds"
4703 RCDATA "../../textures/Scarface/Controller/sd_dpad_down.dds"
4704 RCDATA "../../textures/Scarface/Controller/sd_dpad_left.dds"
4705 RCDATA "../../textures/Scarface/Controller/sd_dpad_right.dds"
4706 RCDATA "../../textures/Scarface/Controller/sd_lt_butt.dds"
4707 RCDATA "../../textures/Scarface/Controller/sd_rt_butt.dds"
4708 RCDATA "../../textures/Scarface/Controller/sd_a_butt.dds"
4709 RCDATA "../../textures/Scarface/Controller/sd_b_butt.dds"
4710 RCDATA "../../textures/Scarface/Controller/sd_x_butt.dds"
4711 RCDATA "../../textures/Scarface/Controller/sd_y_butt.dds"
4712 RCDATA "../../textures/Scarface/Controller/sd_lb_butt.dds"
4713 RCDATA "../../textures/Scarface/Controller/sd_rb_butt.dds"
4714 RCDATA "../../textures/Scarface/Controller/sd_back_butt.dds"
4715 RCDATA "../../textures/Scarface/Controller/sd_start_butt.dds"
4716 RCDATA "../../textures/Scarface/Controller/sd_lstick_none.dds"
4717 RCDATA "../../textures/Scarface/Controller/sd_rstick_none.dds"

// Steam Controller (GamepadIcons = 7)
4800 RCDATA "../../textures/Scarface/Controller/sc_lstick_all.dds"
4801 RCDATA "../../textures/Scarface/Controller/sc_rstick_all.dds"
4802 RCDATA "../../textures/Scarface/Controller/sc_dpad_up.dds"
4803 RCDATA "../../textures/Scarface/Controller/sc_dpad_down.dds"
4804 RCDATA "../../textures/Scarface/Controller/sc_dpad_left.dds"
4805 RCDATA "../../textures/Scarface/Controller/sc_dpad_right.dds"
4806 RCDATA "../../textures/Scarface/Controller/sc_lt_butt.dds"
4807 RCDATA "../../textures/Scarface/Controller/sc_rt_butt.dds"
4808 RCDATA "../../textures/Scarface/Controller/sc_a_butt.dds"
4809 RCDATA "../../textures/Scarface/Controller/sc_b_butt.dds"
4810 RCDATA "../../textures/Scarface/Controller/sc_x_butt.dds"
4811 RCDATA "../../textures/Scarface/Controller/sc_y_butt.dds"
4812 RCDATA "../../textures/Scarface/Controller/sc_lb_butt.dds"
4813 RCDATA "../../textures/Scarface/Controller/sc_rb_butt.dds"
4814 RCDATA "../../textures/Scarface/Controller/sc_back_butt.dds"
4815 RCDATA "../../textures/Scarface/Controller/sc_start_butt.dds"
4816 RCDATA "../../textures/Scarface/Controller/sc_lstick_none.dds"
4817 RCDATA "../../textures/Scarface/Controller/sc_rstick_none.dds"
