[submodule "external/injector"]
	path = external/injector
	url = https://github.com/thelink2012/injector
[submodule "external/inireader"]
	path = external/inireader
	url = https://github.com/ThirteenAG/IniReader
[submodule "external/hooking"]
	path = external/hooking
	url = https://github.com/ThirteenAG/Hooking.Patterns
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/filewatch"]
	path = external/filewatch
	url = https://github.com/ThomasMonkman/filewatch
[submodule "external/asmjit"]
	path = external/asmjit
	url = https://github.com/asmjit/asmjit
[submodule "external/modutils"]
	path = external/modutils
	url = https://github.com/CookiePLMonster/ModUtils
