version: '{build}'
skip_tags: true
image: Visual Studio 2022
configuration: Release
init:
- ps: "if (-not (Test-Path env:DXSDK_DIR)) \n{\nWrite-Host \"DirectX Software Development Kit...\" -ForegroundColor Cyan\n\nWrite-Host \"Downloading...\"\n$exePath = \"$env:temp\\DXSDK_Jun10.exe\"\n(New-Object Net.WebClient).DownloadFile('https://download.microsoft.com/download/A/E/7/AE743F1F-632B-4809-87A9-AA1BB3458E31/DXSDK_Jun10.exe', $exePath)\n\nWrite-Host \"Installing...\"\n$installPath = \"C:\\Program Files (x86)\\Microsoft DirectX SDK\"\ncmd /c start /wait $exePath /P $installPath /U\nAdd-Path $installPath\nAdd-SessionPath $installPath\n\nRemove-Item $exePath\nWrite-Host \"Installed\" -ForegroundColor Green\n}\n\n\n#$releases = \"https://github.com/ThirteenAG/modupdater/releases\"\n#$name = \"modupdater.zip\"\n#$latestRelease = Invoke-WebRequest $releases/latest -Headers #@{\"Accept\"=\"application/json\"}\n#$json = $latestRelease.Content | ConvertFrom-Json\n#$latestVersion = $json.tag_name\n#$url = \"$releases/download/$latestVersion/$name\"\n\n#Start-FileDownload $url -FileName 'C:\\modupdater.zip'\n#7z e c:\\modupdater.zip -oc:\\Projects\\modupdater\\bin\\Release"
install:
- cmd: >-
    git submodule update --init --recursive

    premake5.bat
before_build:
- cmd: before_build.bat
build:
  project: build/WidescreenFixesPack.sln
  parallel: true
  verbosity: minimal
before_package:
- cmd: >-
    cd ..


    git clone https://github.com/ThirteenAG/Ultimate-ASI-Loader --recursive

    cd Ultimate-ASI-Loader

    premake5.bat

    msbuild.exe build/Ultimate-ASI-Loader-Win32.sln /t:Build /p:Configuration=Release;Platform=Win32

    msbuild.exe build/Ultimate-ASI-Loader-x64.sln /t:Build /p:Configuration=Release;Platform=x64

    cd ..


    git clone https://github.com/ThirteenAG/d3d8-wrapper --recursive

    cd d3d8-wrapper

    premake5.bat

    msbuild.exe build/d3d8-wrapper.sln /t:Build /p:Configuration=Release;Platform=Win32

    cd ..


    git clone https://github.com/ThirteenAG/d3d9-wrapper --recursive

    cd d3d9-wrapper

    premake5.bat

    msbuild.exe build/d3d9-wrapper.sln /t:Build /p:Configuration=Release;Platform=Win32

    cd ..


    cd widescreenfixespack/data

    release.bat
after_build:
- ps: Get-ChildItem .\Archives\*.zip  | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }