name: GitHub Actions Build

on:
  pull_request:
  push:
    tags-ignore:
      - '**'

jobs:
  build:
    runs-on: windows-2022
    strategy:
      matrix:
        platform: [Win32]
        buildtype: [Release]

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3
    - name: Build Solution
      uses: ./.github/workflows/build_all
    - name: Update Tags
      continue-on-error: true
      if: ${{ github.event_name == 'push' && github.ref_name == 'master' }}
      uses: ThirteenAG/update-tags@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
