name: GitHub Actions Build

on:
  pull_request:
  push:

jobs:
  build:
    runs-on: windows-2022
    strategy:
      matrix:
        platform: [Win32]
        buildtype: [Release]

    steps:
    - uses: actions/checkout@v2
    - uses: ./.github/workflows/build_all
    - uses: ThirteenAG/update-tags@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}